.cart_button {
  right: 0;
  position: fixed;
}
.cart_button_icon {
  color: violet;
}
.cart_button_icon:hover {
  color: #ff0198;
}
.cart_image {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
